In [1]:
2+2

4

In [3]:
print ("Hello world")

Hello world

# Headline
# Sub header
normal text
*cursive* **bold**

- one
- two
- three

# this is comment 
print ("something")
print ("hello")

In [6]:
name = "Lovelace"

In [7]:
print(name)

Lovelace

In [8]:
age = 73

In [9]:
size = 1.7123

In [12]:
knows_math = True
likes_gardening = False

In [13]:
type(size)

float

In [14]:
type(name)

str

In [15]:
type(likes_gardening)

bool

In [17]:
5 * 5

25

In [18]:
age * 100

7300

In [19]:
name + name

'LovelaceLovelace'

In [20]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [22]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [23]:
name + "10"

'Lovelace10'

In [24]:
size / age

0.023456164383561642

In [25]:
size

1.7123

In [26]:
type(size)

float

In [27]:
str(size)

'1.7123'

In [28]:
type(size)

float

In [30]:
size = str(size)

In [31]:
# Function and methods

In [32]:
name

'Lovelace'

In [33]:
len(name)

8

In [34]:
size

'1.7123'

In [35]:
name.upper()

'LOVELACE'

In [44]:
name.count("e")

2

In [41]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [45]:
len(str(age))

2

In [47]:
# Lists and Dictionaries

In [49]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [50]:
len(names)

4

In [53]:
names[0]

'Lovelace'

In [55]:
print(type(names[0]))

<class 'str'>

In [56]:
%who

age	 knows_math	 likes_gardening	 name	 names	 size

In [57]:
del(size)

In [58]:
print(type(names))

<class 'list'>

In [60]:
names [0:3]

['Lovelace', 'Darwin', 'Curie']

In [61]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [62]:
names[2:]

['Curie', 'Hawking']

In [63]:
names[-2:]

['Curie', 'Hawking']

In [64]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": 1882}

In [65]:
authors_and_birth_years["Darwin"]

1809

In [68]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Noether": [1882, 1935]}

In [70]:
authors_and_birth_years["Noether"][0]

1882

In [71]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether'])

In [72]:
# for loop

In [73]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [76]:
for name in names:
    print(name)
    print("did awesome stuff")

Lovelace
did awesome stuff
Darwin
did awesome stuff
Curie
did awesome stuff
Hawking
did awesome stuff

In [77]:
for name in names:
    print(name)
print("did awesome stuff")

Lovelace
Darwin
Curie
Hawking
did awesome stuff

In [79]:
for name in names:
    print(name, "did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [80]:
# conditionals 
temp = 20
if temp > 15:
    print ("It's warm")

It's warm

In [81]:
temp > 15

True

In [84]:
# conditionals 
temp = 10
if temp > 15:
    print ("It's warm")
else: 
    print("It's cold")

It's cold

In [85]:
# conditionals 
temp = 35
if temp > 25:
    print ("It's hot")
else: 
    print("It's cold")

It's warm